mixin mi-alarma-visto(tipo, info, time)
    .alarma(style="padding: 15px;")
      h4= 'Tipo: '+tipo
      p= 'Información: '+info
      p= 'Fecha: '+time
mixin mi-alarma-no-visto(tipo, info, time)
    .alarma(style="padding: 15px;")
      h4= 'Tipo: '+tipo
      p= 'Información: '+info
      p= 'Fecha: '+time